{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Image Similarity Report</h1>
        
        <h3>Uploaded Image:</h3>
        <img src="{{ url_for('static', filename='image_uploads/' + uploaded_image) }}" alt="Uploaded Image">

        
        <h3 class="mt-4">Similarity Check Results</h3>
        {% if most_similar_file %}
            <p><strong>Potential copyright infringement detected!</strong></p>
            <p>Similarity Score: {{ similarity }}</p>
            
            <h4>Most Similar Image:</h4>
            <ul>
                <li>
                    <!-- Displaying the most similar image file -->
                    <img src="{{ url_for('static', filename='image_uploads/' + most_similar_file[0]) }}" alt="Most Similar Image" width="150">
                    <p>{{ most_similar_file[0] }} - Similarity Score: {{ most_similar_file[1] }}</p>
                </li>
            </ul>
        {% else %}
            <p><strong>No infringement detected. The image is unique!</strong></p>
        {% endif %}
        
        <br>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go Back</a>
    </div>
{% endblock %}
